{% if h_entry and h_entry.authors and h_entry.post_text %}
<section class="context">
    {% if h_entry.authors[0].photo%}
        <img src="{{ h_entry.authors[0]['photo'] }}" style="width: 40px;" alt="{{ h_entry.authors[0]['name'] }} page icon">
        <br />
    {% endif %}
    <div class="e-content webmention-content flex_right_home">
        <h3>{% if h_entry.name %}{{ h_entry.name }}{% endif %}</h3>
        {% if h_entry.photo %}
            <img src="{{ h_entry.photo }}" alt="{{ h_entry.name ) }} header photo" style="width: 100%;">
        {% endif %}
        <p>{{ " ".join(h_entry.post_text.split(" ")[:75]) }}{% if h_entry.post_text.split(" ") | length > 75 %}...{% endif %}</p>
        <p><a href="{{ url }}">View post</a></p>
        {% if h_entry.authors[0].name %}
        <p>Written by <a href="{{ h_entry.authors[0].url }}">{{ h_entry.authors[0].name }}</a></p>
        {% endif %}
    </div>
</section>
{% elif h_entry and h_entry.name %}
<section class="context">
    <h3>{% if h_entry.name %}{{ h_entry.na,e }}{% endif %}</h3>
    {% if h_entry.photo %}
        <img src="{{ h_entry.photo }}" alt="{{ h_entry.name }} header photo" style="width: 100%;">
    {% endif %}
    {% if h_entry.post_text %}
    <p>{{ " ".join(h_entry.post_text.split(" ")[:75]) }}{% if h_entry.post_text.split(" ") | length > 75 %}...{% endif %}</p>
    {% endif %}
    <p><a href="{{ url }}">View post</a></p>
    {% if h_entry.authors[0].name %}
    <p>Written by <a href="{{ h_entry.authors[0].url }}">{{ h_entry.authors[0].name }}</a></p>
    {% endif %}
</section>
{% endif %}
{% if site_supports_webmention %}
<p class="green_box">The site to which you are linking supports receiving webmentions. This means the site owner will be notified of your social response if / when you send a webmention to their page.</p>
{% endif %}