{% if h_entry and h_entry.get("author") and h_entry["content"].get('text') %}
<section class="context">
    {% if h_entry["author"].get("photo") and h_entry["author"].get("photo") != None %}
        <img src="{{ h_entry['author']['photo'] }}" style="width: 40px;" alt="{{ h_entry['author']['name'] }} page icon">
        <br />
    {% endif %}
    <div class="e-content webmention-content flex_right_home">
        <h3>{% if h_entry.get("name") %}{{ h_entry.get("name") }}{% endif %}</h3>
        {% if h_entry.get("post_photo_url") %}
            <img src="{{ h_entry.get("post_photo_url") }}" alt="{{ h_entry.get("name") }} header photo" style="width: 100%;">
        {% endif %}
        <p>{{ " ".join(h_entry["content"].get('text').split(" ")[:75]) }}{% if h_entry["content"].get('text').split(" ") | length > 75 %}...{% endif %}</p>
        <p><a href="{{ url }}">View post</a></p>
        {% if h_entry['author'].get('name') %}
        <p>Written by <a href="{{ h_entry['author']['url'] }}">{{ h_entry['author']['name'] }}</a></p>
        {% endif %}
    </div>
</section>
{% elif h_entry and h_entry.get('name') %}
<section class="context">
    <h3>{% if h_entry.get("name") %}{{ h_entry.get("name") }}{% endif %}</h3>
    {% if h_entry.get("post_photo_url") %}
        <img src="{{ h_entry.get("post_photo_url") }}" alt="{{ h_entry.get("name") }} header photo" style="width: 100%;">
    {% endif %}
    {% if h_entry["content"].get('text') %}
    <p>{{ " ".join(h_entry["content"].get('text').split(" ")[:75]) }}{% if h_entry["content"].get('text').split(" ") | length > 75 %}...{% endif %}</p>
    {% endif %}
    <p><a href="{{ url }}">View post</a></p>
    {% if h_entry['author'].get('name') %}
    <p>Written by <a href="{{ h_entry['author']['url'] }}">{{ h_entry['author']['name'] }}</a></p>
    {% endif %}
</section>
{% endif %}
{% if site_supports_webmention %}
<p class="green_box">The site to which you are linking supports receiving webmentions. This means the site owner will be notified of your social response if / when you send a webmention to their page.</p>
{% endif %}