<details>
    <summary>Add an emoji</summary>
    <p>Click any of the emojis below to add it quickly to your reply.</p>
    <p><span id="wave" onclick="add_emoji('👋')" role="button" aria-label="hand waving">👋</span>
        <span id="100" onclick="add_emoji('💯')" role="button" aria-label="100">💯</span>
        <span id="thumbs_up" onclick="add_emoji('👍')" role="button" aria-label="thumbs up">👍</span>
        <span id="poke" onclick="add_emoji('👉')" role="button" aria-label="poke">👉</span>
        <span id="yoyo" onclick="add_emoji('🪀')" role="button" aria-label="yoyo">🪀</span>
        <span id="coffee" onclick="add_emoji('☕')" role="button" aria-label="coffee">☕</span>
        <span id="joy" onclick="add_emoji('🙏')" role="button" aria-label="praying hands">🙏</span>
        <span id="joy" onclick="add_emoji('😍')" role="button" aria-label="simle with heart-shaped eyes">😍</span>
        <span id="joy" onclick="add_emoji('🔥')" role="button" aria-label="fire">🔥</span>
        <span id="joy" onclick="add_emoji('✨')" role="button" aria-label="sparkles">✨</span>
        <span id="joy" onclick="add_emoji('😲')" role="button" aria-label="surprised face">😲</span>
        <span id="joy" onclick="add_emoji('👀')" role="button" aria-label="rolled eyes">👀</span></p>
</details>