<details>
    <summary>Add an emoji</summary>
    <p>Click any of the emojis below to add it quickly to your reply.</p>
    <p><span onclick="add_emoji('👋')" role="button" aria-label="hand waving">👋</span>
        <span onclick="add_emoji('💯')" role="button" aria-label="100">💯</span>
        <span onclick="add_emoji('👍')" role="button" aria-label="thumbs up">👍</span>
        <span onclick="add_emoji('👉')" role="button" aria-label="poke">👉</span>
        <span onclick="add_emoji('🪀')" role="button" aria-label="yoyo">🪀</span>
        <span onclick="add_emoji('☕')" role="button" aria-label="coffee">☕</span>
        <span onclick="add_emoji('🙏')" role="button" aria-label="praying hands">🙏</span>
        <span onclick="add_emoji('😍')" role="button" aria-label="simle with heart-shaped eyes">😍</span>
        <span onclick="add_emoji('🔥')" role="button" aria-label="fire">🔥</span>
        <span onclick="add_emoji('✨')" role="button" aria-label="sparkles">✨</span>
        <span onclick="add_emoji('😲')" role="button" aria-label="surprised face">😲</span>
        <span onclick="add_emoji('👀')" role="button" aria-label="rolled eyes">👀</span>
        <span onclick="add_emoji('🙌')" role="button" aria-label="raised hands">🙌</span></p>
</details>